html, body{
    background-color: #E5E5E5;
    font-family: 'Roboto', sans-serif;
    height: 100%;
    margin: 0;
    display: flex;
    flex-direction: column;
}

.main_content {
    flex: 1;
} 

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.swiper {
    width: 100%;
    max-width: 900px; 
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.swiper-slide-active{
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    margin-right: 10px;
} 

.swiper-slide{
    display: flex;
    justify-content: center; 
    align-items: center; 
}

.swiper-wrapper {
    display: flex;
    align-items: stretch; /* Faz com que todos os cards tenham a mesma altura */
}

@media screen and (max-width: 768px) {
    .swiper {
        max-width: 300px; 
    }

    .experience_card {
        width: 100%; 
    }
}

@media screen and (max-width: 768px) {
    .swiper-button-next {
        right: 0px; 
    }
    
    .swiper-button-prev {
        left: 0px; 
    }
}

.swiper-button-next {
    right: 5px; 
}

.swiper-button-prev {
    left: 5px; 
}

.experience_card{
    background-color:#e5e5e5;
    border: 4px solid #C8A349;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    height: 400px;
    gap: 30px;
    border-radius: 8px;
}

.experience_info{
    flex: 1; /* Permite que o conteúdo ocupe o espaço disponível de forma equilibrada */
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.experience_title{
    font-size: 18px;
    font-weight: lighter;
}

.experience_place, .experience_period{
    font-size: 12px;
    font-weight: lighter;
}

.experience_description{
    flex: 1; /* Garante que a descrição ocupe um espaço proporcional */
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: justify;
    max-width: 90%;
}

.experience_description .description_text{
    font-size: 14px;
    color: #C8A349;
}