body {
  background-color: #e5e5e5;
  font-family: "Roboto", sans-serif;
}

.main_content {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 80vh;
}

.swiper {
    width: 100%;
    max-width: 900px; /* Ajuste conforme necessário */
}

.swiper-pagination{
   margin-bottom: 250px;
}

.experience_card{
    background-color:#e5e5e5;
    border: 2px solid #C8A349;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 260px;
    gap: 30px;
    border-radius: 8px;
}

.experience_info{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.experience_title{
    font-size: 18px;
    font-weight: lighter;
}

.experience_place, .experience_period{
    font-size: 12px;
    font-weight: lighter;
}

.experience_description{
    margin: 15px;
    margin-bottom: 80px;
    align-items: center;
}

.experience_description .description_text{
    font-size: 14px;
    color: #C8A349;
}