.footer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap; 
    width: 100%;
    padding: 20px 0;
}

.references_container {
    display: flex;
    align-items: center;
    color: #837565;
    font-size: 12px;
    font-weight: bold;
    gap: 10px;
    margin-left: 20px;
}

.references_container .divisor {
    width: 2px;
    height: 10px;
    background-color: #837565;
}

.socialnetwork_container {
    display: flex;
    gap: 15px;
    margin-right: 20px;
}

.socialnetwork_ancor {
    text-decoration: none;
    color: #9A7260;
    font-size: 16px;
}

.contact {
    font-size: 12px;
    font-weight: lighter;
    transform: rotate(90deg);
    margin-bottom: 4px;
}

@media screen and (max-width: 768px) {
    .footer {
        flex-direction: column;
        align-items: center;
        text-align: center;
        gap: 15px;
    }

    .references_container {
        flex-direction: column;
        margin-left: 0;
        gap: 5px;
    }

    .divisor {
        display: none; 
    }

    .socialnetwork_container {
        flex-direction: row;
        justify-content: center;
        margin-right: 0;
    }

    .contact {
        display: none;
    }
    
}