.header{
    display: flex;
    justify-content: center;
}

.header .navbar{
    display: flex;
    justify-content: space-evenly;
    width: 100%;
    margin-top: 8px;
}

.header .navbar a{
    text-decoration: none;
    color: #CD8B4F;
    font-weight: bold;
}

.header .navbar a:hover{
    transform: scale(1.2);
    color: #ba5f09;
}