.header{
    display: flex;
    justify-content: center;
}

.header .navbar{
    display: flex;
    justify-content: center;
    width: 100%;
    gap: 20px;
    margin-top: 8px;
}

.header .navbar a{
    text-decoration: none;
    color: #CD8B4F;
    font-weight: bold;
    transition: transform 0.3s ease, box-shadow 0.3s ease;
}

.header .navbar a:hover{
    transform: scale(1.2);
    color: #ba5f09;
}

@media (max-width: 768px) {
    .header .navbar a {
        font-size: 0.9rem; 
    }
}

@media (max-width: 480px) {
    .header .navbar a {
        font-size: 0.8rem; 
    }
}